<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>YouTubeRank</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <link href="../css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/heading.css">
    <link rel="stylesheet" href="../css/body.css">
</head>
<body id="page-top">
    {{>layout/nav-bar}}
    {{>admin/layout/admin-keyword-list}}

    {{>modal/my-profile}}
    {{>modal/edit-password}}

    {{>layout/footer}}
    {{>layout/script}}
</body>
</html>