<div class="card text-center">
    <section class="page-section" id="member-list">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/member">Members</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/admin/keyword">Keywords</a>
                </li>
            </ul>
        </div>
        <br/>
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Keyword List</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="d-flex justify-content-center">
                <ul class="list-group col-md-6 justify-content-center center">
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        2020년 5월 27일
                        <div>
                            <span class="badge badge-primary badge-pill"> 총 가입회원 : 14</span>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
</div>