<script src="/js/sign-up.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="js/scripts.js"></script>
<script src="js/sign-up.js"></script>
<script src="js/login.js"></script>
<script src="js/logout.js"></script>
<script src="js/edit-password.js"></script>
<script src="js/search.js"></script>
<script src="js/remove-my-keyword.js"></script>