<section class="page-section bg-primary text-white mb-0" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="page-section-heading d-inline-block text-white">ABOUT</h2>
        </div>
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="pre-wrap lead">YouTubeRank is a service to provide Top 5 YouTubeVideos ordered by views in descending order for a keyword you typed.</p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="pre-wrap lead">You can save your own keyword list for searching on YouTube, access to YouTube videos with just one click.</p>
            </div>
        </div>
    </div>
</section>