<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">LOCATION</h4>
                <p class="pre-wrap lead mb-0">South Korea</p>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="mb-4">CONTACT</h4>
                <a class="btn btn-outline-light btn-social mx-1" a href="tel:+821092981231"><i class="fas fa-mobile-alt"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="mailto:palmseung@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/palmseung/YoutubeRank" target="_blank"><i class="fab fa-github"></i></a>
            </div>
            <div class="col-lg-4">
                <h4 class="mb-4">ABOUT YouTubeRank</h4>
                <p class="pre-wrap lead mb-0">YouTubeRank is a service to provide Top 5 YouTubeVideos ordered by views in descending order for a keyword you typed.</p>
            </div>
        </div>
    </div>
</footer>

<section class="copyright py-4 text-center text-white">
    <div class="container"><small class="pre-wrap">Copyright © YouTubeRank 2020</small></div>
</section>

<div class="scroll-to-top d-lg-none position-fixed">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>