<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <h3 class="masthead-heading">YouTube 키워드를 입력하세요! </h3>
        <div class="divider-custom divider-light">
        </div>
        <br/>
        <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">
            <form>
                <div class="form-row">
                    <div class="col-12 col-md-9 mb-2 mb-md-0">
                        <input type="text" id="search" class="form-control form-control-lg" placeholder="">
                    </div>

                    <div class="col-12 col-md-3">
                        {{#loginUser}}
                            <button type="submit" id="searchBtn" class="btn btn-block btn-lg btn-primary">
                                <a data-toggle="modal" data-target="#search-result-modal" class="text-white">
                                    <i class="fas fa-search"></i>
                                </a>
                            </button>
                        {{/loginUser}}
                        {{^loginUser}}
                            <button type="submit" id="requireLoginBtn" class="btn btn-lg btn-primary">
                                <a href="javascript:requireLogin();" class="text-white">
                                    <i class="fas fa-search"></i>
                                </a>
                            </button>
                        {{/loginUser}}
                    </div>
                </div>
            </form>
        </div>
    </div>
</header>