<div class="middle">
    <form action="" class="search-box">
        <input type="text" class="input" onKeyDown="onKeyDown();"/>
        <button type="button" class="btn" name="button"></button>
    </form>
</div>