<div class="portfolio-modal modal fade" id="signUpModal" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <h2 class="portfolio-modal-title text-secondary mb-0">Sign up</h2>
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <div class="container">
                                <div class="row">
                                    <div class="col-lg-7 col-lg-7 col-lg-5 mx-auto">
                                        <div class="card card-signin my-5">
                                            <div class="card-body">
                                                <h5 class="card-title text-center">Sign Up</h5>
                                                <form class="form-signup">
                                                    <div class="form-label-group">
                                                        <input type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
                                                        <br/>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <input type="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                                        <br/>
                                                    </div>
                                                    <div class="form-label-group">
                                                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                                                        <br/>
                                                    </div>
                                                    <button class="btn btn-sm btn-primary btn-block text-uppercase" id="signUpBtn" type="submit">Sign-up</button>
                                                    <button class="btn btn-sm btn-secondary btn-block text-uppercase" id="adminSignUpBtn">Admin Sign-up</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>