<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Login</title>
    <script src="/js/common/nav-bar.js"></script>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/member/login.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common/nav-bar.css"/>

    <link
            href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
            rel="stylesheet"
    />
</head>
<body>
{{>layout/nav-bar}}
<div class="login-form">
    <form>
        <h1>YoutubeRank</h1>
        <input type="email" placeholder="Enter your email" id="email" class="txtb"/>
        <input type="password" placeholder="Enter your password" id="password" class="txtb"/>
        <input type="button" value="Login" class="login-btn" id="loginBtn"/>
    </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/js/member/login.js"></script>
</body>
</html>