<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Sign-up</title>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/member/sign-up.css"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
            rel="stylesheet"
    />
</head>
<body>
    <div class="signup-form">
        <form>
            <h1>YoutubeRank</h1>
            <input type="text" placeholder="Enter your name" id="name" class="txtb"/>
            <input type="email" placeholder="Enter your email" id="email" class="txtb"/>
            <input type="password" placeholder="Enter your password" id="password" class="txtb"/>
            <input type="button" value="Sign up" class="signup-btn" id="signupBtn"/>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="/js/member/sign-up.js"></script>
</body>
</html>
