<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8"/>
    <title>My Profile</title>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/js/common/nav-bar.js"></script>

    <link rel="stylesheet" type="text/css" media="screen" href="../../css/common/nav-bar.css"/>
    <link rel="stylesheet" type="text/css" media="screen" href="../../css/member/update-my-info.css"/>
    <link
            rel="stylesheet"
            href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
            href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap"
            rel="stylesheet"
    />
</head>
<body>
{{>layout/nav-bar}}
<div class="business-card middle">
    <div class="front">
        <h2>
            {{#loginUser}}
                {{name}}
            {{/loginUser}}
        </h2>
        <span>Member</span>
        <ul class="contact-info">
            <li><i class="far fa-envelope"></i>
            {{#loginUser}}
                {{email}}
            {{/loginUser}}</li>
            <li>
                <i class="fas fa-unlock-alt"></i>
                <input type="password" size="40" maxlength="20" id="newPassword">
                <a href="" id="edit-password"><i class="fas fa-pencil-alt" id="edit-password-btn"></i></a>
            </li>
        </ul>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/member/my-info.js"></script>
</body>
</html>